.container {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: rgb(121, 91, 134);
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.btn {
  padding: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  width: 220px;
  color: inherit;
}

.btn:hover {
  cursor: pointer;
}

.container p:nth-child(1) {
  padding: 10px 60px;
  color: #fff;
  background: rgb(121, 91, 134);
  font-size: 1.3rem;
  margin-top: 0;
  position: relative;
}

.container p:nth-child(1)::before {
  content: "";
  position: absolute;
  width: calc(1.3rem + 26px);
  height: calc(1.3rem + 26px);
  background: #fff;
  /* left: calc((1.3rem + 30px) / -2); */
  top: 0;
  transform: rotate(45deg);
}
.container p:nth-child(1)::after {
  content: "";
  position: absolute;
  width: calc(1.3rem + 26px);
  height: calc(1.3rem + 26px);
  background: #fff;
  /* left: calc((1.3rem + 30px) / -2); */
  top: 0;
  transform: rotate(45deg);
}
.container p:nth-child(1)::after {
  left: calc((1.3rem + 30px) / -2);
}
.container p:nth-child(1)::before {
  right: calc((1.3rem + 30px) / -2);
}
.table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 4px 7px;
}

.tabHead tr th {
  border-bottom: 2px solid indigo;
}
.tabHead tr th:nth-child(1) {
  border-right: 2px solid indigo;
}

.tabBody tr th {
  border-right: 2px solid indigo;
}
