.container {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  width: 220px;
}

.btn:hover {
  cursor: pointer;
}

.returnToMenu {
  padding: 20px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}
